.wrap-filter-sp{
	display: block;
	padding-top: 16px;
	font-size: 12px;
	position: relative;
	z-index: 10;
	.z-title{
		font-style: 16px;
		padding-bottom: 14px;
	}
	.filter-main{
		position: relative;
		height: 34px;
		background-color: #f8f8f8;
	}
	.filter-ul{
		height: 34px;
		li{	
			float: left;
			height: 34px;
			line-height: 34px;
			position: relative;
			&:hover{
				.childen-filter{
					display: block;
				}
				.icon_j{
					-moz-transform:rotate(180deg);
					-webkit-transform:rotate(180deg);
					-o-transform:rotate(180deg);
					transform:rotate(180deg); 
					//filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
				}
			}		
			&>a{
				text-decoration: none;
				display: block;
				padding: 0 30px;
				color: #444;
				font-size: 12px;
				position: relative;
				z-index: 1;
			}
			.line-r{
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -10px;
				height: 20px;
				width: 1px;
				background-color: #dddddd;
				display: block;
			}
			.icon_j{
				position: absolute;
				top: 2px;
				right: 6px;
				transition: transform .3s ease-in;
			}
			.icon-sp-top,.icon-sp-bottom{
				position: absolute;
				display: block;
				width: 30px;
				height: 30px;
				top: 3px;
				right: 6px;				
			}
			.icon-sp-top{
				background: url(../images/arrow-top.png) no-repeat center center;
			}
			.icon-sp-bottom{
				background: url(../images/arrow-bottom.png) no-repeat center center;
			}
			
			.childen-filter{
				display: none;
				position: absolute;
				background-color: #f8f8f8;
				width: 82px;
				top: 4px;
				left: 0;
				border:1px solid #dddddd;
				border-top: none;
				padding-top: 26px;
				a{
					text-decoration: none;
					color: #999;
					font-size: 12px;
					height: 40px;
					line-height: 40px;
					display: block;
					//padding-left: 10px;
					text-align: center;
					&:hover{
						color: #FFF;
						background-color: #ff6e6e;
					}
				}
			}
		}
	}
}


.wrap-search-sp{
	position: absolute;	
	right: 80px;	
	top: 50%;	
	height: 22px;
	margin-top: -10px;	
	.filter-text{
		border: 1px solid #999;
		height: 20px;
		width: 399px;
		display: block;
		padding: 0 3px;
		font-size: 12px;
	}
	.filter-btn{
		position: absolute;
		top: 0;
		right: 0;
		width: 68px;
		height: 20px;
		line-height: 20px;
		text-align: center;		
		display: inline-block;
		color: #444;
		border: 1px solid #444;
		background-color: #f8f8f8;
		cursor: pointer;
	}
}