.ov-hiden {
  overflow: hidden; }

.help-postage {
  position: relative;
  z-index: 89; }
  .help-postage a {
    text-decoration: none;
    color: #666; }

.footer {
  position: relative;
  z-index: 0; }

.loading-box {
  text-align: center; }

.banner-sp {
  position: relative;
  height: 208px;
  background: url(../imgs/banner.png) no-repeat center top; }
  .banner-sp .btn-register {
    position: absolute;
    display: inline-block;
    width: 160px;
    height: 33px;
    left: 77px;
    top: 116px; }

.comments-list-wrap {
  position: relative; }

.paging-wrap {
  position: relative;
  font-size: 12px;
  text-align: center; }
  .paging-wrap span, .paging-wrap a {
    color: #999;
    line-height: 32px;
    padding: 0 12px;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #9e9e9e; }
    .paging-wrap span.on, .paging-wrap a.on {
      border-color: #ff646d;
      color: #ff646d; }
    .paging-wrap span.no, .paging-wrap a.no {
      background-color: #f1f1f1; }
  .paging-wrap input {
    width: 34px;
    border: none;
    text-align: center;
    color: #999; }
  .paging-wrap .paging-input-box {
    padding: 0;
    text-align: center; }
  .paging-wrap .go-text, .paging-wrap .more {
    border: none;
    padding: 0 5px; }
  .paging-wrap .go-btn, .paging-wrap .pag-next, .paging-wrap .pag-pren, .paging-wrap .pag-num {
    cursor: pointer; }
    .paging-wrap .go-btn:hover, .paging-wrap .pag-next:hover, .paging-wrap .pag-pren:hover, .paging-wrap .pag-num:hover {
      background-color: #f1f1f1; }
