.bread-tab{
    color: #888;
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
    a{
        color: #888;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.estimates-manipulate{
    position: relative;
    clear: both;
    padding-top: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    z-index: 10; 
}

.estimates-form{
    position: relative;
    z-index: 10;
}
.serve-type-sp{
    font-size: 14px;
    padding-bottom: 16px;
    .title{
        display: inline-block;
        width: 72px;
        padding-left: 12px;
    }
    .serve-type-select{
        display: inline-block;
        position: relative;
        a{  
            display: inline-block;
            text-decoration: none;
            color: #666;
            padding: 2px;
            margin-left: 5px;
            margin-right: 10px;
            &.on{
                color: #ff6e6e;
            }

        }
    }
}

.type-sidebar{
    position: absolute;
    height: 4px;
    background-color: #ff6e6e;
    width: 34px;
    bottom: -5px;
}

.est_error{
    display: none;
}

.est_errors .est_error{
    display: block;
}

.estimates-form-lab{
    position: relative;
    padding: 10px 0; 
    .estimates-lab-box{
        width: 450px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        border: 1px solid #dcdcdc;
        &.no-edit{
            background-color: #ffe2e2;
            border-color: #e3c6c6;
            input{
                background-color: #ffe2e2; 
                border-color: #e3c6c6;
            }
        }
        &.error-data{
            border-color: #ff6e6e;
        }
    }
    .title{
        display: inline-block;
        width: 72px;
        padding-left: 12px;
    }
    .jui-text{
        border: none;
        height: 24px;
        text-indent: 16px;
        border-left: 1px solid #c5c5c5;
        width: 260px;
        cursor: pointer;
        // background-color: rgba(244, 244, 244, .6);
    }
    .est_error{
      position: absolute;
      left: 140px;
      color: #ff6e6e;
    }
    .text-tag{
        float: right;
        padding-right: 10px;
    }
    
    .jui-tip-msg{
        padding-left: 26px;
        position: relative;
        display: inline-block;
        .jui-tip-title{
            color: #999;
            text-decoration: underline;
            font-size: 12px;
            position: relative;
            &:hover{
                .jui-tip-weight-more{
                    display: block;
                }
            }
        }
    }
}

.estimates-form-footer{
    position: relative;
    z-index: 10; 
    padding: 10px 0;
    a{
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 220px;
        color: #FFF;
        text-align: center;
        background-color: #ff6e6e;
        color: #FFF;
        text-decoration: none;
        &:hover{
            opacity: .9;
        }
    }
}

.estimates-banner{
    position: absolute;
    right: 0;
    top: 22px;
    z-index: 0;
   
}
.z-index-10{
    z-index: 10;
}
.hover-zindex-msg{
    z-index: 10;
}

.jui-tip-weight-more{
    display: none;
    position: absolute;
    top: 20px; 
    left: 50%;
    margin-left: -90px;
    width: 180px; 
    background-color: #FFF;
    border: 1px solid #DDD;
    z-index: 20;
    .tip-before{
            position: absolute;
            display: inline-block;
            border-left: 7px solid transparent;
            border-bottom: 7px solid #ddd;
            border-right: 7px solid transparent;
            left:50%;
            top: -7px;
            margin-left: -7px; 
            content: '';
    }
    .tip-after{
        position: absolute;
        display: inline-block;
        border-left: 6px solid transparent; 
        border-bottom: 6px solid #fff;
        border-right: 6px solid transparent;
        left:50%; 
        top: -6px;
        margin-left: -6px;
        content: '';
    }

    ul{
        clear: both;
        overflow: hidden;
        padding-left: 8px; 
    }
    li{
        float: left;
        width: 84px;
        height: 32px;
        margin: 5px 0;
        i{
            display: inline-block;
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: #b8b8b8;
            background-repeat: no-repeat;
            background-position: center center;
        }
        span{
            padding-left: 34px;
            display: inline-block;
        }
    }
    .jui-desction{
        padding: 8px;
        padding-right: 0;
    }
    .icon-1{
        background-image: url(../imgs/icon-1.png);
    }
    .icon-2{
        background-image: url(../imgs/icon-2.png);
    }
    .icon-3{
        background-image: url(../imgs/icon-3.png);
    }
    .icon-4{
        background-image: url(../imgs/icon-4.png);
    }
    .icon-5{
        background-image: url(../imgs/icon-5.png);
    }
    .icon-6{
        background-image: url(../imgs/icon-6.png);
    }
    .icon-7{
        background-image: url(../imgs/icon-7.png);
    }
    .icon-8{
        background-image: url(../imgs/icon-8.png); 
    }
}

