.ov-hiden{
	overflow: hidden;
}

.help-postage{
	position: relative;
	z-index: 89;
	a{
		text-decoration:none;
		color: #666;
	}
}
.footer{
	position: relative;
	z-index: 0;
}

.loading-box{
	text-align: center;
}