.ov-hiden {
  overflow: hidden; }

.free-postage {
  padding-top: 14px; }
  .free-postage a {
    text-decoration: none;
    color: #666; }

.postage-left {
  width: 808px; }

.postage-right {
  width: 344px; }

@-webkit-keyframes jui-hang {
  0% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); } }

@keyframes jui-hang {
  0% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); } }

@-webkit-keyframes jui-hang-sink {
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); } }

@keyframes jui-hang-sink {
  100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); } }

.jui-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: .3s;
  transition: .3s; }

.jui-hang:hover, .jui-hang:focus, .jui-hang:active {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-animation-name: jui-hang-sink, jui-hang;
          animation-name: jui-hang-sink, jui-hang;
  -webkit-animation-duration: .3s, 1.5s;
          animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
          animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
          animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate; }

/* Float */
.jui-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.jui-float:hover, .jui-float:focus, .jui-float:active {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px); }

/* Wobble Bottom */
@-webkit-keyframes jui-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
            transform: skew(-12deg); }
  33.3% {
    -webkit-transform: skew(10deg);
            transform: skew(10deg); }
  49.95% {
    -webkit-transform: skew(-6deg);
            transform: skew(-6deg); }
  66.6% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg); }
  83.25% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg); }
  100% {
    -webkit-transform: skew(0);
            transform: skew(0); } }
@keyframes jui-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
            transform: skew(-12deg); }
  33.3% {
    -webkit-transform: skew(10deg);
            transform: skew(10deg); }
  49.95% {
    -webkit-transform: skew(-6deg);
            transform: skew(-6deg); }
  66.6% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg); }
  83.25% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg); }
  100% {
    -webkit-transform: skew(0);
            transform: skew(0); } }

.jui-wobble-bottom {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0; }

.jui-wobble-bottom:hover, .jui-wobble-bottom:focus, .jui-wobble-bottom:active {
  -webkit-animation-name: jui-wobble-bottom;
          animation-name: jui-wobble-bottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

/* Overline From Center */
.jui-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.jui-overline-from-center:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ff6e6e;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.jui-overline-from-center:hover:after {
  left: 0;
  right: 0; }

.jui-message {
  color: #666;
  font-size: 14px;
  background: #fff0f0;
  padding: 5px;
  padding-left: 34px;
  line-height: 30px;
  position: relative; }
  .jui-message a {
    color: #58a0d2;
    text-decoration: underline; }
    .jui-message a:hover {
      color: #ff6e6e; }
  .jui-message .triangle-topleft {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #ff6e6e;
    border-right: 20px solid transparent; }

.floor-nav {
  padding: 14px 0; }
  .floor-nav li {
    float: left;
    font-size: 14px; }
    .floor-nav li span {
      display: inline-block;
      width: 1px;
      height: 14px;
      margin: 0 17px;
      vertical-align: middle;
      background: #666; }
    .floor-nav li a:hover {
      color: #ff6e6e; }

.floor-wp {
  padding: 10px 0;
  font-size: 14px; }
  .floor-wp .floor-m {
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d5d5; }
    .floor-wp .floor-m:last-child {
      border-bottom: none; }
  .floor-wp .title {
    font-size: 14px;
    color: #ff6e6e;
    padding: 10px 0; }
  .floor-wp ul {
    width: 840px;
    padding-top: 10px; }
  .floor-wp li {
    float: left;
    width: 112px;
    margin-right: 27px;
    margin-bottom: 5px; }
    .floor-wp li a {
      display: block;
      color: #333; }
      .floor-wp li a:hover {
        color: #ff6e6e; }
    .floor-wp li .thumb {
      width: 110px;
      height: 45px;
      border: 1px solid #e4e4e4;
      overflow: hidden; }
      .floor-wp li .thumb img {
        max-width: 100%; }
    .floor-wp li .name {
      font-size: 12px;
      text-align: center;
      padding: 6px 0; }
      .floor-wp li .name a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

.other-postage {
  border: 5px solid #ffd3d3;
  border-left: none;
  border-right: none;
  padding-top: 10px; }
  .other-postage .title {
    position: relative;
    color: #333;
    padding-left: 34px; }
    .other-postage .title .star-red {
      position: absolute;
      width: 21px;
      height: 20px;
      background: url(../imgs/star-red.png) no-repeat center center;
      left: 0; }
  .other-postage .j-list {
    padding-top: 14px;
    clear: both;
    overflow: hidden; }
    .other-postage .j-list a {
      float: left;
      font-size: 0;
      width: 110px;
      height: 45px;
      border: 1px solid #e4e4e4;
      overflow: hidden;
      margin-right: 40px;
      margin-bottom: 20px; }

.user-love-shop {
  padding-top: 14px; }
  .user-love-shop .title {
    position: relative;
    color: #333;
    padding-left: 34px; }
    .user-love-shop .title .love {
      position: absolute;
      width: 21px;
      height: 20px;
      background: url(../imgs/love.png) no-repeat center center;
      left: 0; }
  .user-love-shop .j-list {
    padding-top: 10px; }
    .user-love-shop .j-list li {
      position: relative;
      font-size: 14px;
      clear: both;
      overflow: hidden;
      color: #333;
      padding: 5px 0; }
      .user-love-shop .j-list li:hover .numb {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
      .user-love-shop .j-list li .numb {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #ccc;
        color: #ccc;
        text-align: center;
        line-height: 22px;
        -webkit-transition: .3s;
        transition: .3s; }
        .user-love-shop .j-list li .numb.numb1 {
          color: white;
          background-color: #ffcb15;
          border-color: #ffcb15; }
        .user-love-shop .j-list li .numb.numb2 {
          color: white;
          background-color: #e2e2e2;
          border-color: #e2e2e2; }
        .user-love-shop .j-list li .numb.numb3 {
          color: white;
          background-color: #e45314;
          border-color: #e45314; }
      .user-love-shop .j-list li a:hover {
        color: #ff6e6e;
        text-decoration: underline; }
      .user-love-shop .j-list li .name {
        padding-left: 10px;
        width: 180px; }
      .user-love-shop .j-list li i {
        float: right; }
