.page-layer-main{
    background: #ff4343;
    border-radius: 6px;
    padding: 8px;
    display: inline-block;
    .page-layer-border{
        width: 458px;
        margin: 0 auto;
        border: 2px dotted #ff6e66;
        position: relative;
        padding-bottom: 20px;
    }
    .l-close{
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
        display: inline-block;
        background: url(../images/close.png) no-repeat;
    }   
    
    .layer-my-popup-info{
        text-align: center;
        padding-top: 30px;
    
        .p1{
            color: #fff55c;
            font-size: 24px;
            line-height: 30px;
        }
        .p2{
            padding-bottom: 20px;
            font-size:16px;
        }
    
    }
    .layer-btn-wrap{
        text-align: center;
        
    }
    .layer-btn{
        cursor: pointer;
        display: inline-block;
        margin: 0 auto;
        width: 178px;
        height: 42px;
        line-height: 40px;
        border: 1px solid #FFF;
        text-align: center;
        font-size: 22px;
        border-radius: 5px;
        &:hover{
            background: #F53C3C;
          
        }
    }
    .layer-btn-1{
        margin-right: 20px;
        background: #ffd21e;
        border: 1px solid #ffd21e;
        color: #f4281b;
        &:hover{
            background: #F5C40D;
            border: 1px solid #F5C40D;
        }
    }
    
}  



// 我的奖品
.page-layer-wrap{
    position: relative;
    width: 480px;
    padding-top: 40px;
    .layer-my-pin-img{
        position: absolute;
        left: 0;
        right: 0;
        top: -38px;
        height: 99px;
        z-index: 10;
        background: url(../images/myjiangpin.png) no-repeat center center;
    }
    .m-close{
        position: absolute;
        cursor: pointer;
        right: 20px;
        top: -6px;
        width: 35px;
        height: 35px;
        display: inline-block;
        z-index: 20;
        background: url(../images/close.png) no-repeat;
    }   
}




.layer-box-list{
    padding: 20px;
    li{
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        padding: 0 10px;
        .text-name{
            color: #fdff57;
            
        }
        .text-num{
           float: right;
        }
        &:nth-of-type(odd){
            background-color: #e53939;
        }
        &:nth-of-type(even){
            // background:#FFCC00;
        }
    }
}