.header,.footer {
	min-width:1200px;
}
.shortcut {
	background-color:#f8f8f8;
	position:relative;
	z-index:88;
}
.w {
	width:1200px;
	display:block;
	margin:0 auto;
}
.overflow_h {
	overflow:hidden;
}
.top_nav {
	padding-top:6px;
	height:28px;
	li {
		float:left;
		line-height:20px;
		position:relative;
		z-index:21;
		display:inline;
		a {
			font-size:12px;
			color:#444444;
			text-decoration:none;
		}
	}
}
.login a {
	display:block;
	float:left;
	margin-right:30px;
}
.login_t {
	float:left;
	margin-right:10px;
	font-size:12px;
	line-height:20px;
}
.fore {
	text-align:center;
	position:relative;
	//padding:0 40px 0 30px;
	padding:0 27px 0 30px;
}
.fore_p {
	padding:0 30px 0 15px;
}
.fore_gwx {
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
}
.fore_gwx2 {
	border-right:solid 1px #f8f8f8;
}
.fore_b {
	height:25px;
}
.fore_b .code_line,.fore_b .code_hover {
	display:block;
}
.fore_h {
	border-right:solid 1px #ddd;
}
.fore_h .help_l {
	display:block;
}
.code_line {
	display:none;
	height:0px;
	line-height:0px;
	font-size:0px;
	position:absolute;
	z-index:15;
	top:25px;
	left:0px;
	width:100%;
	border-top:solid 1px #f8f8f8;
}
.help_l {
	position:absolute;
	border:solid 1px #ddd;
	border-top:none;
	padding-top:8px;
	background-color:#f8f8f8;
	top:17px;
	left:-1px;
	z-index:21;
	width:100%;
	display:none;
	a {
		font-size:12px;
		color:#999999;
		height:40px;
		line-height:40px;
		display:block;
		text-align:center;
	}
	a:hover {
		background-color:#ff6e6e;
		color:#fff;
	}
}
.code_hover {
	width:236px;
	height:132px;
	z-index:12;
	border:solid 1px #ddd;
	position:absolute;
	top:25px;
	left:-35px;
	background:url(../images/top_code.gif) center #f8f8f8 no-repeat;
	display:none;
}
.overHead {
	top:-141px;
	left:0px;
	border:solid 1px #ddd;
	width:100%;
	position:fixed;
	z-index:100;
	background-color:#fff;
	box-shadow:0 1px 3px rgba(0,0,0,0.4);
	-webkit-transition:top 0.2s ease-in;
	transition:top 0.2s ease-in;
	.logo {
		margin-bottom:15px;
	}
}

.top_Show {
	top:0px;
}
.top_red {
	color:#ff6e6e;
}
.icon_m {
	background:url(../images/icon.png) no-repeat;
	display:block;
	position:absolute;
	width:30px;
	height:30px;
}
.icon_wx {
	background-position:0 -150px;
	top:-4px;
	left:0px;
}
.icon_fb {
	background-position:-30px -150px;
	top:-4px;
	left:0px;
}
.icon_mess {
	background-position:0px 0px;
	top:-5px;
	left:0px;
}
.icon_shop {
	background-position:-30px 0px;
	top:-6px;
	left:0px;
}
.icon_my {
	background-position:-60px 0px;
	top:-5px;
	left:0px;
}
.icon_u {
	background-position:-90px 0px;
	top:-5px;
	left:0px;
}
.icon_j {
	background-position:-60px -30px;
	top:-4px;
	right:0px;
	-webkit-transition:-webkit-transform 0.3s ease-in;
	transition:transform 0.3s ease-in;
}
.icon_pdg {
	background-position:0px -30px;
}
.icon_tg {
	background-position:0px -60px;
}
.icon_vip {
	background-position:0px -90px;
}
.icon_fxg {
	background-position:0px -120px;
}
.drop_item:hover .icon_pdg {
	background-position:-30px -30px;
}
.drop_item:hover .icon_tg {
	background-position:-30px -60px;
}
.drop_item:hover .icon_vip {
	background-position:-30px -90px;
}
.drop_item:hover .icon_fxg {
	background-position:-30px -120px;
}
.drop {
	position:absolute;
	z-index:50;
	top:48px;
	background-color:#fff;
	width:148px;
	left:-1px;
	border:solid 1px #ddd;
	border-top:none;
	display:none;
}
.drop_item {
	display:block;
	height:48px;
	line-height:48px;
	padding-left:60px;
	font-size:16px;
	position:relative;
	.icon_m {
		left:28px;
		top:9px;
	}
}
.drop_item:hover {
	background-color:#ffbbbb;
	color:#fff;
}
.drop_item:hover a {
	color:#fff;
}
.drop_item a {
	text-decoration:none;
	color:#999;
}
.logo {
	margin:15px 0 35px;
	display: inline-block;
}
.search {
	margin:25px 0 0 130px;
	display:inline;
	.search_text, .button {
		border:solid 2px #ff6e6e;
		padding:5px;
		height:20px;
		width:552px;
		display:inline;
	}
	.button {
		background:#ff6e6e;
		color:#fff;
		display:block;
		width:102px;
		line-height:20px;
		font-size:18px;
		text-align:center;
		cursor:pointer;
	}
	p {
		color:#999;
		font-size:12px;
		line-height:25px;
		padding-left:3px;
		clear:both;
		overflow: hidden;
		a {
			color:#999;
			float: left;
			text-decoration:none;
			padding-left:5px;
		}
	}
}

.nav_l {
	font-size:20px;
	color:#444;
	text-align:center;
	display:block;
	text-decoration:none;
	line-height:48px;
	height:48px;
	position:relative;
}
.nav {
	height:48px;
	li {
		float:left;
		position:relative;
		z-index:22;
		width:150px;
		height:48px;
	}
	li:hover a.nav_l {
		background-color:#ffbbbb;
		color:#fff;
	}
	li.on a.nav_l {
		color:#fff;
		background-color:#ff6e6e;
	}
	li.nav_icon:hover {
		width:148px;
		background-color:#fff;
		border-left:solid 1px #ddd;
		border-right:solid 1px #ddd;
	}
	li.nav_icon:hover .icon_j {
		background-position:-60px -60px;
		-webkit-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		transform:rotate(180deg);
	}
	li.nav_icon:hover .drop {
		display:block;
	}
}

.nav_icon .nav_l {
	padding-right:15px;
}
.nav_icon .icon_j {
	right:15px;
	top:10px;
	-webkit-transition:-webkit-transform 0.3s ease-in;
	transition:transform 0.3s ease-in;
}
.nav li.on .icon_j {
	background-position:-60px -60px;
}
.fore_h .icon_j,.fore_b .icon_j {
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}


//by zan 2015年12月24日18:08:41
.logo-wrap{
	width: 300px;
	position: absolute;
	height: 90px;	
	display: block;
}
.search-wrap{
	position: relative;
	display: block;
	margin-top: 19px;
	margin-left: 418px;
	margin-bottom: 14px;
}