<!--免邮商家-->
<link rel="stylesheet" href="./build/css/app.css?v<%= time %>">
<div class="free-postage">
    <div class="pw m-auto clearfix ov-hiden">
        <!--left-->
        <div class="postage-left fl">
            <div class="jui-message">
                在任意中国大陆B2C网站上购买商品(<a href="http://service.panli.com/Help/Detail/19.html" target="_blank">入驻商家</a>除外)，
                无需支付中国大陆运费。购物更省钱！
            </div>
            <div class="floor-nav">
                <ul class="clearfix ov-hiden">
                    <li><a href="javascript:void(0);">综合百货</a></li>
                    <li><span></span><a href="javascript:void(0);">男女服装</a></li>
                    <li><span></span><a href="javascript:void(0);">鞋包饰品</a></li>
                    <li><span></span><a href="javascript:void(0);">美容美发</a></li>
                    <li><span></span><a href="javascript:void(0);">隐形眼镜</a></li>
                    <li><span></span><a href="javascript:void(0);">图书音像</a></li>
                    <li><span></span><a href="javascript:void(0);">鲜花礼品</a></li>
                    <li><span></span><a href="javascript:void(0);">婴幼用品</a></li>
                    <li><span></span><a href="javascript:void(0);">成人保健</a></li>                                                                          
                </ul>
            </div>
            <div class="floor-wp">
                <div class="floor-m">
                    <h5 class="title">综合百货</h5>
                    <ul class="floor-u clearfix ov-hiden">
                        <li>
                            <div class="thumb">
                                <a href="" target="_blank" >
                                    <img class="hvr-hang" src="http://img.panlidns.com/CMS/freepostage/1.gif" alt="">
                                </a>
                            </div>
                            <div class="name">
                                <a href="" target="_blank">
                                    当当
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a href="" target="_blank">
                                    <img src="http://img.panlidns.com/CMS/freepostage/1.gif" alt="">
                                </a>
                            </div>
                            <div class="name">
                                <a href="" target="_blank">
                                    当当
                                </a>
                            </div>
                        </li><li>
                            <div class="thumb">
                                <a href="" target="_blank">
                                    <img src="http://img.panlidns.com/CMS/freepostage/1.gif" alt="">
                                </a>
                            </div>
                            <div class="name">
                                <a href="" target="_blank">
                                    当当
                                </a>
                            </div>
                        </li><li>
                            <div class="thumb">
                                <a href="" target="_blank">
                                    <img src="http://img.panlidns.com/CMS/freepostage/1.gif" alt="">
                                </a>
                            </div>
                            <div class="name">
                                <a href="" target="_blank">
                                    当当
                                </a>
                            </div>
                        </li><li>
                            <div class="thumb">
                                <a href="" target="_blank">
                                    <img src="http://img.panlidns.com/CMS/freepostage/1.gif" alt="">
                                </a>
                            </div>
                            <div class="name">
                                <a href="" target="_blank">
                                    当当
                                </a>
                            </div>
                        </li><li>
                            <div class="thumb">
                                <a href="" target="_blank">
                                    <img src="http://img.panlidns.com/CMS/freepostage/1.gif" alt="">
                                </a>
                            </div>
                            <div class="name">
                                <a href="" target="_blank">
                                    当当
                                </a>
                            </div>
                        </li><li>
                            <div class="thumb">
                                <a href="" target="_blank">
                                    <img src="http://img.panlidns.com/CMS/freepostage/1.gif" alt="">
                                </a>
                            </div>
                            <div class="name">
                                <a href="" target="_blank">
                                    当当
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <!--left end-->
        <!--right-->
        <div class="postage-right fr">
            <div class="other-postage">
                <div class="title">
                    <span class="star-red"></span>
                    其他常用名站导航
                </div>
                <div class="j-list">
                    <a href="" target="_blank">
                        <img src="http://img.panli.com/CMS/bianjiImage/cImg/634414327621581698.gif" alt="">
                    </a>
                    <a href="" target="_blank">
                        <img src="./build/imgs/tmall.png" alt="">
                    </a>
                    
                </div>
            </div>
            <div class="user-love-shop">
                <div class="title">
                    <span class="love"></span>
                    会员最爱淘宝店铺
                </div>
                <div class="j-list">
                    <ul>
                        <li>
                            <span class="numb numb1">1</span>
                            <span class="name">
                                <a href="" target="_blank">妖精口袋田园风</a>
                            </span>
                            <i>
                                <img src="./build/imgs/score/50.png" alt="">
                            </i>
                        </li>
                        <li>
                            <span class="numb numb2">1</span>
                            <span class="name">
                                <a href="" target="_blank">妖精口袋田园风</a>
                            </span>
                            <i>
                                <img src="./build/imgs/score/50.png" alt="">
                            </i>
                        </li>
                         <li>
                            <span class="numb numb3">1</span>
                            <span class="name">
                                <a href="" target="_blank">妖精口袋田园风</a>
                            </span>
                            <i>
                                <img src="./build/imgs/score/50.png" alt="">
                            </i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--right end-->
    </div>
</div>
<script src="./build/js/app.js"></script>
<!--免邮商家 end-->