.banner-sp{
    position: relative;
    height: 208px;
    background: url(../imgs/banner.png) no-repeat center top;
    .btn-register{
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 16px;
        // background-color: red;
    }
}