.estimates-show-info{
    position: relative;

}
.estimates-show-data{
    border: 1px solid #ddd;
    margin-bottom: 10px;
    &.loading-box{
        .loading-data{
            display: block;
        }
        .res_list{
            display: none;
        }
    }
    .data-table{
        width: 100%;
        text-align: center;
    }
    td,th{
        text-align: center;
        padding: 14px 0;
    }
    th{
        font-size: 14px;
        font-weight: 600;
    }
    tr{
        &:nth-child(1){
            td{
                border: none;
            }
        }
    }
    .first-td{
        min-width: 120px;
    }
    td{
        border-top: 1px solid #DDD;
        &:hover{
            .jui-tip-table-more{
                display: block;
            }
        }
    }
    .hai-bg{
        background-color: #f8f8f8;
    }
    .title{
        font-weight: 600;
    }
    .border-bottom{
       text-decoration: underline
    }
}
.loading-data{
    display: none;
    padding: 20px;
    text-align: center; 
}
.color-red{
    color: #ff6e6e;
}


.jui-tip-table-title{
    position: relative;
    cursor: pointer;
    font-weight: 400;
}
.jui-tip-table-more{
    display: none;
    position: absolute;
    width: 260px;
    height: 26px;
    top: -30px;
    line-height: 26px;
    left: 50%;
    margin-left: -130px;
    font-size: 12px;
    background-color: #FFF;
    border: 1px solid #ff6e6e;
    color: #333;
    a{
        color: #68a6d4;
    }
    .tip-before{
        position: absolute;
        display: inline-block;
        border-left: 6px solid transparent;
        border-top: 6px solid #fff;
        border-right: 6px solid transparent;
        left:50%;
        bottom: -6px;
        margin-left: -6px; 
        content: '';
        z-index: 1;
    }
    .tip-after{
        position: absolute;
        display: inline-block;
        border-left: 7px solid transparent; 
        border-top: 7px solid #ff6e6e;
        border-right: 7px solid transparent;
        left:50%; 
        bottom: -7px;
        margin-left: -7px;
        content: '';
        z-index: 0;
    }
}